name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check:
    name: Typecheck, Lint & Test
    strategy:
      matrix:
        bun-version: [latest, canary]
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.bun-version == 'canary' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ matrix.bun-version }}

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Typecheck
        run: bun run typecheck

      - name: Lint & Format
        run: bun run check

      - name: Test
        run: bun test
